<footer class="navbar navbar-expand-lg navbar-dark bg-success fixed-bottom">
  <div class="container-fluid justify-content-start">
    <%= link_to '#', class: 'nav-link' do %>
      <i class="bi bi-house-door" style="font-size: 1.5rem;"></i>
    <% end %>
  </div>
</footer>