<nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top">
  <div class="container-fluid">
    <span class="navbar-brand">歴史さんぽ</span>
    <div class="ml-auto">
      <%= link_to '#', class: 'nav-link' do %>
        <i class="bi bi-box-arrow-in-right text-white" style="font-size: 1.5rem;"></i>
      <% end %>
    </div>
  </div>
</nav>