<!-- app/views/home/result.html.erb -->
<h1>ルート生成結果</h1>
<div id="map"></div>

<%= button_to "ルートを再生成する", result_path(distance: params[:distance]), method: :post %>
<%= button_to "散歩する", detail_path(route: @route_data), method: :get %>

<script>
function initMap() {
    const routeData = JSON.parse('<%= @route_data %>');

    var map = new google.maps.Map(document.getElementById("map"), {
        center: routeData.origin,
        zoom: 12
    });

    var directionsService = new google.maps.DirectionsService();
    var directionsRenderer = new google.maps.DirectionsRenderer({ map: map });

    directionsService.route({
        origin: routeData.origin,
        destination: routeData.destination,
        waypoints: routeData.waypoints.map(site => ({ location: site, stopover: true })),
        travelMode: google.maps.DirectionsTravelMode.WALKING,
    }, function(response, status) {
        if (status === google.maps.DirectionsStatus.OK) {
            directionsRenderer.setDirections(response);
        }
    });
}

window.onload = initMap;
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap&libraries=geometry,places" async defer></script>