<div class="container text-center mt-5 pt-5">
  <h1 class="display-5 fw-bold">歴史さんぽへようこそ！</h1>
  <p class="lead">歴史さんぽは、身近な史跡を巡るルートを提案する散歩ルート生成サービスです。</p>

  <h2 class="h4 my-4">さっそく使ってみる ↓</h2>

  <form>
    <div class="mb-3">
      <label for="distance" class="form-label">距離</label>
      <input type="text" class="form-control" id="distance" placeholder="歩きたい距離を入力してください">
    </div>
    <button type="submit" class="btn btn-dark btn-lg">ルートを生成する</button>
  </form>
</div>